body{
    margin:0;
    background-color: #161A30;
    color: #31363F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
}
header{
    color: #fff;
}
footer{
    margin: 0;
    align-self: center;
}

.logo{
    height: 160px;
    width: 160px;
   /* border: 1px solid #fff;*/
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.logoIcon{
    color: white;
    height: 100%;
    width: 100%;
}

.topIcon{
    color: white;
    height: 64px;
    width: 64px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.welcome-container{
    width: 420px;
    margin: auto;
    background-color: #fff;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.minHeight{
    min-height: 75vh;
}
.paddBtm{
    padding-bottom: 100px;
}
.wrapper {
    display: flex;
    justify-content: center;
}
.box{
    height: 120px;
    width: 120px;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.noDeco{
    text-decoration: none;
}
.icon{
    height: 30px;
    width: 30px;
    color: #fff;
}
.violet{
    background-color: #A460ED;
}
.blue{
    background-color: #9FC9F3;
}
.orange{
    background-color: #F05941;
}
.yellow{
    background-color: #FEB139;
}
.pink{
    background-color: #F07DEA;
}
.red{
    background-color: #FF204E;
}
.pale{
    background-color: #FF8E8F;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .form-element{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 5px;
    width: 90%;
}

form .form-element input{
    padding: 6px;
}

form .form-element button{
    align-self: center;
    padding: 4px 10px;
}

.inputForm{
    border: 2px solid #A460ED;
}


table {
    border-collapse: collapse;
    width: 75%;
    overflow-y: scroll;
    margin: auto;
    border-radius: 5px;
    text-align: left;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 4px;
}

table tr:nth-child(even){background-color: #FFF7F1;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #161A30;
    color: white;
}

.tableGenre{
    min-width: 80%;
    font-size: 16px;
    padding: 10px;
}
.pointer{
    cursor: pointer;
}
.actionBar{
    height: 70px;
    position: fixed;
    bottom: 0;
    background-color: #1F1717;
    width: 420px;
    color: white;
    padding-top: 20px;
    z-index: 100;
    align-self: center;
    margin: 0;
}
.linkBar{
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}
.linkBarLeft{
    color: #fff;
    margin-left: 45px;
    margin-right: 10px;
}

.linkBarRight{
    color: #fff;
    margin-left: 10px;
    margin-right: 45px;
}
.addBtn{
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
    transform: translateY(-50px);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addIcon{
    color: #F05941;
}
.actionsLine{
    transform: translateY(-70px);
}

.deleteBtn{
    border: none;
    color: #F05941;
}

@media all and (max-width: 800px) {
    .welcome-container{
        width: 80%;
    }
    .actionBar{
        width: 80%;
    }
}

@media all and (max-width: 500px) {
    .welcome-container{
        width: 100%;
    }
    .actionBar{
        width: 80%;
    }
}