
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title th:text="|Détail du film ${film.titre} (${film.annee})|"></title>
</head>
<body>
<main class="flex-center" layout:fragment="content">
    <br><br>
    <div class="logo">
        <img src="/film8.png" class="logoIcon"/>
    </div>
    <br><br>

    <div class="welcome-container paddBtm">
    <h3 th:text="|Détail du film ${film.titre} (${film.annee})|"></h3>

    <form>
        <div class="form-element">
            <label>Genre</label>
            <input disabled th:value="${film.genre.titre}"  placeholder="Genre" class="form-control ">
        </div>

        <!-- Année -->
        <div class="form-element">
            <label>Année</label>
            <input disabled th:value="${film.annee}" placeholder="Anneé" class="form-control ">
        </div>

        <!-- Titre -->
        <div class="form-element">
            <label>Titre</label>
            <input disabled th:value="${film.titre}" placeholder="Titre" class="form-control ">
        </div>

        <!-- Réalisateur -->
        <div class="form-element">
            <label>Réalisateur</label>
            <input disabled th:value="${film.realisateur}" placeholder="Realisateur" class="form-control ">
        </div>

        <!-- Durée -->
        <div class="form-element">
            <label>Durée</label>
            <input disabled th:value="${film.duree}">
        </div>

        <!-- Acteurs -->
        <div class="form-element">
            <label>Acteurs</label>

            <ul>
                <li th:each="acteur : ${film.acteurs}" th:text="${acteur}"></li>
            </ul>
        </div>

        <!-- Synopsis -->
        <div class="form-element">
            <label>Synopsis</label>
            <textarea disabled cols="30" rows="10" th:text="${film.synopsis}"></textarea>
        </div>
    </form>
    </div>
</main>

</body>
</html>