
<html lang="en" layout:decorate="~{layout/main}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="|Détail du film ${film.titre} (${film.annee})|"></title>
</head>
<body>
<main class="flex-center" layout:fragment="content">
    <br><br>
    <div class="logo">
        <img src="/film8.png" class="logoIcon"/>
    </div>
    <br><h6 class="headName" th:text="|${#authentication.name}|" sec:authorize="isAuthenticated()"></h6><br>

    <div class="welcome-container paddBtm">
    <h3 th:text="|Détail du film ${film.titre} (${film.annee})|"></h3>

        <form th:replace="~{fragments/filmForm :: form (true)}"></form>
        <button sec:authorize="isAuthenticated()" class="btn btn-warning btn-lg w-50">
            <a class="noDeco" th:href="|/films/${film.id}/avis|"> Ajouter un avis</a>
        </button>

    </div>
</main>

</body>
</html>