<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>FILM CREATION</title>
</head>
<body>
<main class="flex-center" layout:fragment="content">
    <br><br>
    <div class="logo">
        <img src="/film8.png" class="logoIcon"/>
    </div>
    <br><br>

    <div class="welcome-container minHeight paddBtm">
        <h3 >Ajouter un film</h3>

        <form action="/films" method="post" class="w-100">
            <div class="form-element mb-2">
                <input type="text" name="titre" placeholder="Titre" class="form-control ">
            </div>
            <div class="form-element mb-2">
                <input type="number" name="annee" placeholder="Anneé" class="form-control ">
            </div>
            <div class="form-element mb2">
                <input type="number" name="duree" placeholder="Dureé" class="form-control ">
            </div>
            <div class="form-element mb2">
                <select class="form-select" aria-label="Default select example" name="genre">
                    <option selected>Genre</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

            <div class="form-element mb2">
                <select class="form-select" aria-label="Default select example" name="realisateur">
                    <option selected>Réalisateur</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

            <div class="form-element mb2">
                <select class="form-select" multiple aria-label="Multiple select example" name="acteurs">
                    <option selected>Acteurs</option>
                    <option value="1">Acteur 1</option>
                    <option value="2">Acteur 2</option>
                    <option value="3">Acteur 3</option>
                </select>
            </div>
            <div class="form-element mb-2">
                <textarea class="form-control"
                          placeholder="Leave a description here"
                          id="floatingTextarea"
                          name="synopsis"></textarea>
            </div>
            <br><br>
            <div class="form-element w-75">
                <button class="btn btn-warning btn-lg w-100" >Ajouter</button>
            </div>

        </form>
    </div>
</main>

</body>
</html>