
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title th:text="|Détail du film ${film.titre} (${film.annee})|"></title>
</head>
<body>
<main class="flex-center" layout:fragment="content">
    <br><br>
    <div class="logo">
        <img src="/film8.png" class="logoIcon"/>
    </div>
    <br><br>

    <div class="welcome-container paddBtm">
    <h3 th:text="|Détail du film ${film.titre} (${film.annee})|"></h3>

        <form th:replace="~{fragments/filmForm :: form (true)}"></form>
    </div>
</main>

</body>
</html>