<html lang="en" layout:decorate="~{layout/main}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>FILM CREATION</title>
</head>
<body>
<main class="flex-center" layout:fragment="content">
    <br><br>
    <div class="logo">
        <img src="/film14.png" class="logoIcon"/>
    </div>
    <br><br>

    <div class="welcome-container minHeight paddBtm">
        <h5 >Ajouter un film</h5>

        <form th:action="@{/films/creer}" th:insert="~{fragments/filmForm :: form (false)}" method="POST">
        </form>

    </div>


</main>

</body>
</html>