
<html lang="en" layout:decorate="~{layout/main}">
<head>
    <title>Films</title>
</head>
<body>
<main class="flex-center" layout:fragment="content">
<br><br>
<div class="logo">
    <img src="film6.png" class="logoIcon"/>
</div>

<br><br>

<div class="welcome-container paddBtm">

<form action="/films" method="post" class="w-100">
    <div class="form-element ">
        <input type="text" name="titre" placeholder="Titre" class="form-control ">
    </div>
    <div class="form-element ">
        <input type="number" name="annee" placeholder="Anneé" class="form-control ">
    </div>
    <div class="form-element ">
        <input type="number" name="duree" placeholder="Dureé" class="form-control ">
    </div>
    <div class="form-element ">
        <textarea class="form-control" placeholder="Leave a description here" id="floatingTextarea" name="synopsis"></textarea>
    </div>
    <div class="form-element w-75">
        <button class="btn btn-warning btn-lg w-100" >Ajouter</button>
    </div>

</form>


<img th:if="${listeFilms.isEmpty()}" src="data.png" width="300px" height="300px"/>
<section th:if="${!listeFilms.isEmpty()}">
    <h5>Les Films</h5>
        <table>
            <thead>
            <tr>
                <th>Genre</th>
                <th>Année</th>
                <th>Titre</th>
                <th>Réalisateur</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="film : ${listeFilms}">
                <td th:text="${film.genre.titre}"></td>
                <td th:text="${film.annee}"></td>
                <td th:text="${film.titre}"></td>
                <td th:text="${film.realisateur}"></td>
                <td><a class="link-button noDeco pointer" th:href="|/films/${film.id}|">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle noDeco" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                </a></td>
            </tr>
            </tbody>

        </table>

</section>

</div>
</main>
</body>

</html>